<a href="https://colab.research.google.com/github/karahud/FedEx_Dashboarding/blob/main/Fedex_EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Transforming EDA to Dashboard **
**Project by:-** Samir Rahood

**Datset used:-** FedEx Datset

In [ ]:
# Import necessary modules
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
# Load Dataset
Fedex = pd.read_csv('/content/SCMS_Delivery_History_Dataset (1).csv')

In [ ]:
# Sample of datase
Fedex.head(3)

,ID,Project Code,PQ #,PO / SO #,ASN/DN #,Country,Managed By,Fulfill Via,Vendor INCO Term,Shipment Mode,...,Unit of Measure (Per Pack),Line Item Quantity,Line Item Value,Pack Price,Unit Price,Manufacturing Site,First Line Designation,Weight (Kilograms),Freight Cost (USD),Line Item Insurance (USD)
0,1,100-CI-T01,Pre-PQ Process,SCMS-4,ASN-8,Côte d'Ivoire,PMO - US,Direct Drop,EXW,Air,...,30,19,551.0,29.0,0.97,Ranbaxy Fine Chemicals LTD,Yes,13,780.34,NaN
1,3,108-VN-T01,Pre-PQ Process,SCMS-13,ASN-85,Vietnam,PMO - US,Direct Drop,EXW,Air,...,240,1000,6200.0,6.2,0.03,"Aurobindo Unit III, India",Yes,358,4521.5,NaN
2,4,100-CI-T01,Pre-PQ Process,SCMS-20,ASN-14,Côte d'Ivoire,PMO - US,Direct Drop,FCA,Air,...,100,500,40000.0,80.0,0.80,ABBVIE GmbH & Co.KG Wiesbaden,Yes,171,1653.78,NaN

In [ ]:
# No.of columns and Rows
Fedex.shape

(10324, 33)

In [ ]:
# Information of Dataset
Fedex.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10324 entries, 0 to 10323
Data columns (total 33 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   ID                            10324 non-null  int64
 1   Project Code                  10324 non-null  object
 2   PQ #                          10324 non-null  object
 3   PO / SO #                     10324 non-null  object
 4   ASN/DN #                      10324 non-null  object
 5   Country                       10324 non-null  object
 6   Managed By                    10324 non-null  object
 7   Fulfill Via                   10324 non-null  object
 8   Vendor INCO Term              10324 non-null  object
 9   Shipment Mode                 9964 non-null   object
 10  PQ First Sent to Client Date  10324 non-null  object
 11  PO Sent to Vendor Date        10324 non-null  object
 12  Scheduled Delivery Date       10324 non-null  object
 13  Delivered to Client Date      10324 non-null  object
 14  Delivery Recorded Date        10324 non-null  object
 15  Product Group                 10324 non-null  object
 16  Sub Classification            10324 non-null  object
 17  Vendor                        10324 non-null  object
 18  Item Description              10324 non-null  object
 19  Molecule/Test Type            10324 non-null  object
 20  Brand                         10324 non-null  object
 21  Dosage                        8588 non-null   object
 22  Dosage Form                   10324 non-null  object
 23  Unit of Measure (Per Pack)    10324 non-null  int64
 24  Line Item Quantity            10324 non-null  int64
 25  Line Item Value               10324 non-null  float64
 26  Pack Price                    10324 non-null  float64
 27  Unit Price                    10324 non-null  float64
 28  Manufacturing Site            10324 non-null  object
 29  First Line Designation        10324 non-null  object
 30  Weight (Kilograms)            10324 non-null  object
 31  Freight Cost (USD)            10324 non-null  object
 32  Line Item Insurance (USD)     10037 non-null  float64
dtypes: float64(4), int64(3), object(26)
memory usage: 2.6+ MB

In [ ]:
# Find null values
Fedex.isnull().sum()

ID                                 0
Project Code                       0
PQ #                               0
PO / SO #                          0
ASN/DN #                           0
Country                            0
Managed By                         0
Fulfill Via                        0
Vendor INCO Term                   0
Shipment Mode                    360
PQ First Sent to Client Date       0
PO Sent to Vendor Date             0
Scheduled Delivery Date            0
Delivered to Client Date           0
Delivery Recorded Date             0
Product Group                      0
Sub Classification                 0
Vendor                             0
Item Description                   0
Molecule/Test Type                 0
Brand                              0
Dosage                          1736
Dosage Form                        0
Unit of Measure (Per Pack)         0
Line Item Quantity                 0
Line Item Value                    0
Pack Price                         0
Unit Price                         0
Manufacturing Site                 0
First Line Designation             0
Weight (Kilograms)                 0
Freight Cost (USD)                 0
Line Item Insurance (USD)        287
dtype: int64

In [ ]:
# Find duplicates
Fedex.duplicated().sum()

0

# **Data Cleaning and Manipulation Need To Do:**
* As we can see there are some null values in columns:- Shipment Mode, Dosage and Line Item Insurance, so i have to fill this values using stastical methods.
* We need to change datatypes of some columns:- Scheduled Delivery Date,
Delivered to Client Date, Delivery Recorded Date,Weight (Kilograms), Freight Cost (USD).
* Dropping of unnecessary columns and creation of some new columns.

In [ ]:
# Drop unwanted columns
Fedex.drop(['Project Code', 'PQ #', 'PO / SO #', 'ASN/DN #'],axis=1,inplace=True)

KeyError: "['Project Code', 'PQ #', 'PO / SO #', 'ASN/DN #'] not found in axis"

In [ ]:
# Create a new column
Fedex["Month Name"]=Fedex["Scheduled Delivery Date"].dt.month_name()

Fedex['Year']=Fedex['Scheduled Delivery Date'].dt.year

In [ ]:
Fedex.rename(columns = {'Line Item Value': 'Total Sales'}, inplace = True)

In [ ]:
Fedex.columns

Index(['ID', 'Country', 'Managed By', 'Fulfill Via', 'Vendor INCO Term',
       'Shipment Mode', 'PQ First Sent to Client Date',
       'PO Sent to Vendor Date', 'Scheduled Delivery Date',
       'Delivered to Client Date', 'Delivery Recorded Date', 'Product Group',
       'Sub Classification', 'Vendor', 'Item Description',
       'Molecule/Test Type', 'Brand', 'Dosage', 'Dosage Form',
       'Unit of Measure (Per Pack)', 'Line Item Quantity', 'Total Sales',
       'Pack Price', 'Unit Price', 'Manufacturing Site',
       'First Line Designation', 'Weight (Kilograms)', 'Freight Cost (USD)',
       'Line Item Insurance (USD)', 'Month Name', 'Year'],
      dtype='object')

In [ ]:
# Change data types
col_to_date = ['Scheduled Delivery Date', 'Delivered to Client Date', 'Delivery Recorded Date']
for col in col_to_date:
  Fedex[col] = pd.to_datetime(Fedex[col], errors= 'coerce')

In [ ]:
col_to_float = ['Weight (Kilograms)', 'Freight Cost (USD)']
for col in col_to_float:
  Fedex[col]= pd.to_numeric(Fedex[col], errors='coerce')

In [ ]:
# Check Data
Fedex.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10324 entries, 0 to 10323
Data columns (total 29 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   ID                            10324 non-null  int64
 1   Country                       10324 non-null  object
 2   Managed By                    10324 non-null  object
 3   Fulfill Via                   10324 non-null  object
 4   Vendor INCO Term              10324 non-null  object
 5   Shipment Mode                 10324 non-null  object
 6   PQ First Sent to Client Date  10324 non-null  object
 7   PO Sent to Vendor Date        10324 non-null  object
 8   Scheduled Delivery Date       10324 non-null  datetime64[ns]
 9   Delivered to Client Date      10324 non-null  datetime64[ns]
 10  Delivery Recorded Date        10324 non-null  datetime64[ns]
 11  Product Group                 10324 non-null  object
 12  Sub Classification            10324 non-null  object
 13  Vendor                        10324 non-null  object
 14  Item Description              10324 non-null  object
 15  Molecule/Test Type            10324 non-null  object
 16  Brand                         10324 non-null  object
 17  Dosage                        8588 non-null   object
 18  Dosage Form                   10324 non-null  object
 19  Unit of Measure (Per Pack)    10324 non-null  int64
 20  Line Item Quantity            10324 non-null  int64
 21  Line Item Value               10324 non-null  float64
 22  Pack Price                    10324 non-null  float64
 23  Unit Price                    10324 non-null  float64
 24  Manufacturing Site            10324 non-null  object
 25  First Line Designation        10324 non-null  object
 26  Weight (Kilograms)            6372 non-null   float64
 27  Freight Cost (USD)            6198 non-null   float64
 28  Line Item Insurance (USD)     10037 non-null  float64
dtypes: datetime64[ns](3), float64(6), int64(3), object(17)
memory usage: 2.3+ MB

In [ ]:
Fedex.isnull().sum()

ID                                 0
Country                            0
Managed By                         0
Fulfill Via                        0
Vendor INCO Term                   0
Shipment Mode                      0
PQ First Sent to Client Date       0
PO Sent to Vendor Date             0
Scheduled Delivery Date            0
Delivered to Client Date           0
Delivery Recorded Date             0
Product Group                      0
Sub Classification                 0
Vendor                             0
Item Description                   0
Molecule/Test Type                 0
Brand                              0
Dosage                          1736
Dosage Form                        0
Unit of Measure (Per Pack)         0
Line Item Quantity                 0
Line Item Value                    0
Pack Price                         0
Unit Price                         0
Manufacturing Site                 0
First Line Designation             0
Weight (Kilograms)              3952
Freight Cost (USD)              4126
Line Item Insurance (USD)        287
dtype: int64

In [ ]:
# Find mode of the shipment mode column
Fedex['Shipment Mode'].mode()

0    Air
Name: Shipment Mode, dtype: object

In [ ]:
# Replace Null values
Fedex['Shipment Mode'].fillna(Fedex['Shipment Mode'].mode()[0], inplace=True)

#Checking null values
Fedex['Shipment Mode'].isnull().sum()

0

In [ ]:
# Find mode of the Dosage column
Fedex['Dosage'].mode()

# Replace Null values
Fedex['Dosage'].fillna(Fedex['Dosage'].mode()[0], inplace=True)

#Checking null values
Fedex['Dosage'].isnull().sum()

0

In [ ]:
# Find median of the Line term Insurance column
Fedex['Line Item Insurance (USD)'].median()

# Replace Null values
Fedex['Line Item Insurance (USD)'].fillna(Fedex['Line Item Insurance (USD)'].median(), inplace=True)

#Checking null values
Fedex['Line Item Insurance (USD)'].isnull().sum()

0

In [ ]:
# Find median of the Weight (Kilograms) column
Fedex['Weight (Kilograms)'].median()

# Replace Null values
Fedex['Weight (Kilograms)'].fillna(Fedex['Weight (Kilograms)'].median(), inplace=True)

#Checking null values
Fedex['Weight (Kilograms)'].isnull().sum()

0

In [ ]:
# Find median of the Freight Cost (USD) column
Fedex['Freight Cost (USD)'].median()

# Replace Null values
Fedex['Freight Cost (USD)'].fillna(Fedex['Freight Cost (USD)'].median(), inplace=True)

#Checking null values
Fedex['Freight Cost (USD)'].isnull().sum()

0

In [ ]:
Fedex.isnull().sum()

ID                              0
Country                         0
Managed By                      0
Fulfill Via                     0
Vendor INCO Term                0
Shipment Mode                   0
PQ First Sent to Client Date    0
PO Sent to Vendor Date          0
Scheduled Delivery Date         0
Delivered to Client Date        0
Delivery Recorded Date          0
Product Group                   0
Sub Classification              0
Vendor                          0
Item Description                0
Molecule/Test Type              0
Brand                           0
Dosage                          0
Dosage Form                     0
Unit of Measure (Per Pack)      0
Line Item Quantity              0
Line Item Value                 0
Pack Price                      0
Unit Price                      0
Manufacturing Site              0
First Line Designation          0
Weight (Kilograms)              0
Freight Cost (USD)              0
Line Item Insurance (USD)       0
dtype: int64

In [ ]:
# Export data to excel format
Fedex.to_excel('Fedex_Final.xlsx', index=False)